cmake-build-debug/
.idea/
cmake-build-release/
/resources/externalModels/
/cmake-build-release-visual-studio/
/cmake-build-release-visual-studio-x86/
/.clang-format
/cmake-build-debug-visual-studio-clang/
/cmake-build-release-visual-studio-clang/
